* {
  font-family: 'Andada Pro', serif;
}

.center {
  right: 50% !important;
  bottom: 50% !important;
  transform: translate(50%, 50%) !important;
  position: absolute !important;
}

/*List pages*/
.page_title {
  font-weight: 900;
  font-size: 42px;
}

.button {
  text-transform: unset !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.total {
  font-weight: 800;
  font-size: 20px;
}

.uploader-name-tag {
  font-weight: 900;
  font-size: 17px;
  background-color: #16a085;
  padding: 3px 5px;
  border-radius: 3px;
  color: white;
}

/*Detail Pages*/
.uploader-name-title, .author-name-title{
  font-weight: 900;
  font-size: 42px;
}

.detail-comments, .detail-date {
  text-transform: unset !important;
  font-weight: 600;
  font-size: 16px;
}

.image-title, .story-title {
  font-weight: 800;
  font-size: 20px;
}

.story-text{
  font-weight: 600;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}

.think {
  font-weight: 800;
  font-size: 30px;
}

.theme--light.v-btn.v-btn--icon {
    color: rgba(0, 0, 0, 1) !important;
}
