* {
  font-family: 'Andada Pro', serif;
}

.center {
  right: 50% !important;
  bottom: 50% !important;
  transform: translate(50%, 50%) !important;
  position: absolute !important;
}

.list-page-title {
  font-weight: 900;
  font-size: 42px;
}

.button {
  text-transform: unset !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.total {
  font-weight: 800;
  font-size: 20px;
}

.think {
  font-weight: 800;
  font-size: 30px;
}


.theme--light.v-btn.v-btn--icon {
    color: rgba(0, 0, 0, 1) !important;
}

.theme--light.v-card > .v-card__text, .theme--light.v-card > .v-card__subtitle {
    color: rgba(0, 0, 0, 1) !important;
}

